# gitignore/Global/macOS.gitignore
#
# General
.DS_Store

# gitignore/Python.gitignore
*.py[cod]

# gitignore/community/Python/JupyterNotebooks.gitignore
*ipynb
.ipynb_checkpoints
*./ipynb_checkpoints/*

# gitignore Vim-created swp files
*.swp

# gitignore IDE-created filse
.vscode/*
*/.vscode/*

# gitignore local jekyll server
.jekyll-cache
Gemfile
Gemfile.lock
docs/_site/
